@use "../abstracts" as *;

/*! purgecss start ignore */
.button {
  display: inline-block;
  align-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;

  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding-inline: $button-padding-inline;
  padding-block: $button-padding-block;
  border: $button-border;
  border-radius: $button-border-radius;
  transition: 275ms ease;


  &[data-type="primary"] {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:is(:hover, :focus) {
      background-color: $button-primary-background-active;
      color: $button-primary-color-active;
    }
  }


  &[data-type="accent"] {
    background-color: $button-accent-background;
    color: $button-accent-color;

    &:is(:hover, :focus) {
      background-color: $button-accent-background-active;
      color: $button-accent-color-active;
    }
  }

  &[data-type="link"] {
    background-color: $button-link-background;
    color: $button-link-color;

    &:is(:hover, :focus) {
      background-color: $button-link-background-active;
      color: $button-link-color-active;
    }
  }

}
/*! purgecss end ignore */