@use "../abstracts" as *;


.footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  font-size: $footer-font-size;

  &__inner {
      & > * {
        list-style: none;
      }

      & > * {
        padding-block: 2rem;
        border-block-end: $footer-separating-border-width solid $footer-separating-border-color;
      }

      & > :first-child {
        padding-block: 0 2rem;
      }

      & > :last-child {
        padding-block: 2rem 0;
        border: none;
      }
  }

  .links {
    --cluster-gap: #{$footer-links-gap};
    --cluster-justification: center;
  }

  .copyright {
    --cluster-gap: #{$footer-copyright-gap};
    --cluster-justification: center;
  }

  a {
    color: $footer-link-color;
    text-decoration: $footer-link-text-decoration;
    font-family: $footer-link-font-family;
    letter-spacing: $letter-spacing-loose;

    &:is(:hover, :focus) {
      color: $footer-link-color-active;
    }
  }
}
