@use "../abstracts" as *;

.header {
  background-color: $header-background-color;
  color: $header-color;
  padding-block: $header-padding-block;
  padding-inline: $header-padding-inline;

  &__inner {
    display: flex;
    gap: $size-4;
    align-items: $header-alignment;
    justify-content: $header-jusitifcation-small-screens;

    @include mq(medium) {
      justify-content: $header-jusitifcation-large-screens;
    }
  }
}
