@use "../abstracts" as *;

.header {
  background-color: $header-background-color;
  color: $header-color;
  padding-block: $header-padding-block;
  padding-inline: $header-padding-inline;
  block-size: $header-block-size;

  .logo {
    inline-size: $header-logo-size;
    block-size: $header-logo-size;
  }

  &__inner {
    --cluster-space: 2rem;
    --cluster-justification: #{$header-jusitifcation-small-screens};
    background-color:  $header-background-color;

    @include mq(medium) {
      justify-content: $header-jusitifcation-large-screens;
    }
  }
}
