@use "../abstracts" as *;
@use "sass:map";

.hero {
    --flow-space: #{$hero-flow-space};
    text-align: $hero-alignement;

    --even-columns-column-gap: #{$hero-even-columns-column-gap};
    --even-columns-row-gap: #{$hero-even-columns-row-gap};
    --even-columns-alignement: center;

    strong {
        color: $hero-heading-emphasized-text-color
    }

    .buttons-group {
        display: flex;
        gap: $hero-buttons-group-gap;
        justify-content: map.get($hero-buttons-alignement, $hero-alignement); 
    }

    img {
        object-fit: cover;
        inline-size: 100%;
    }
}