@use "../abstracts" as *;

.nav {
  position: fixed;
  inset-inline: 0;
  z-index: 1;
  inset-block-start: $header-block-size;
  transition: all .5s ease-in;
  background-color: $header-background-color;
  
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;

  & > * {
    overflow: hidden;
  }

  @include mq(medium) {
    position: static;
    display: block;
    opacity: 1;
  }

  ul {
    --flex-column-gap: #{$navigation-gap-small-screen};
    font-family: $navigation-font-family;
    font-weight: $navigation-font-weight;
    list-style: none;
    text-align: center; 

    display: flex;
    flex-flow: column nowrap;
    gap: var(--flex-column-gap);

    @include mq(medium) {
      flex-flow: row wrap;
      --flex-column-gap: #{$navigation-gap-medium-screen};
    }
  }

  .hamburger-menu:checked ~ & {
    grid-template-rows: 1fr;
    opacity: 1;
    padding-block-end: $size-8; 
  }

  a {
    color: $navigation-color;
    text-decoration: $navigation-link-text-decoration;

    &:is(:hover, :focus) {
      color: $navigation-color-active;
    }
  }
}
