{{ define "main" }}

{{ with .Site.GetPage "about/benefits" }}
    {{ .Content }}
{{ end }}


{{ with .Site.GetPage "about/benefits" }}
    {{ .Content }}
{{ end }}

{{ with .Site.GetPage "about/benefits" }}
  {{ .Content }}
{{ end }}


{{ with site.GetPage "about/benefits" }}
      
{{ end }}


{{ printf "%#v" (.Resources.GetMatch "testimonial/index.md") }}

{{ with .Resources.GetMatch "testimonial/girl-smiling.webp" }}
   <img src="{{ . }}" alt="">
{{ end }}



{{/*  {{ printf "%#v" () }}  */}}



{{ printf "%#v" (.Resources.GetMatch "testimonial/index.md") }}



{{/*  {{ with .Site.GetPage "about/benefits" }}
  {{ .Content }}

   {{ .Params.title }}
   {{ .Params.description }}
   


   {{ with .Resources.Get "phone-in-hand.webp" }}
         <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
   {{ end }}

   {{ with .Resources.GetMatch "phone-in-hand.webp" }}

      <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
   {{ end }}

{{ end }}  */}}


{{/*  {{ with .Resources.GetMatch "testimonial" }}
   <h2>{{ .Params.title }}</h2>
      <div>{{ .Params.description }}</div>


      {{ with $.Resources.GetMatch "benefits/phone-in-hand.webp" }}
         <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
      {{ end }}
    
   {{ else }}
   <p>Testimonial section not found</p>
{{ end }}   */}}


{{/*  {{ printf "%#v" (.Resources.GetMatch "testimonial/index.md") }}  */}}



{{/*  {{ printf "%#v" (.Resources.GetMatch "testimonial/index.md") }}

{{ with .Resources.GetMatch "testimonial/index.md" }}
    <h2>{{ .Params.title }}</h2>
    <div>{{ .Content }}</div>
{{ else }}
    <p>Testimonial section not found</p>
{{ end }}  */}}


{{/*  {{ with .Site.GetPage "about/testimonial"  }}
   <h2>{{ .Params.title }}</>

{{ end }}

{{ range site.Pages }}
    <p>{{ .File.Path }} - {{ .Kind }}</p>
{{ end }}  */}}

{{/*  {{ with .Resources.GetMatch "about/hero/index.md" }}
   <h1>{{ .Title }}</h1>

{{ end }}  */}}


   {{/*  {{ with .Resources.GetMatch "hero/index.md" }}
      {{ partial "about/about-hero.html" . }}
   {{ end }}  */}}


{{/*  {{ with site.GetPage "about" }}
    <p>{{ .RelPermalink }} - {{ .Title }}</p>
{{ end }}

{{ with site.GetPage "about" }}
    {{ range .Pages }}
        <p>{{ .RelPermalink }} - {{ .Title }}</p>
    {{ end }}
{{ end }}  */}}

{{/*  {{ range site.GetPage "about".RegularPages }}  */}}


{{/*  {{ printf "%#v" (site.GetPage "hero") }}  */}}

   {{/*  {{ partial "about/about-hero.html" . }}  */}}
   {{/*  {{ partial "index/about.html" . }}
   {{ partial "index/features.html" . }}  */}}

{{ end }}