{{ with .Site.GetPage "about/testimonial"  }}



        <section class="section about-testimonial">
            <div class="container">
                <article>
                    <div class="content | flow">
                        <h2>{{ .Params.title }}</h2>

                        <div class="cluster">
                            {{ range seq .Params.starsQuantity }}
                                {{ partial "icons/star-icon.html" . }}
                            {{ end }}
                        </div>
                   
                        <blockquote>"{{ .Params.description }}"</blockquote>

                        <div class="author-wrapper">
                            <p>{{ .Params.author  }}</p>
                            <p>{{ .Params.position }}</p>               
                        </div>
                    </div>

                    {{ with .Resources.Get "girl-smiling.webp" }}
                        <img
                            src="{{ .RelPermalink }}" 
                            loading="lazy"
                            width="250"
                            height="370"
                            alt="Smiling woman wearing red sweater">
                    {{ end }}
                </article>
            </div>
        </section>

{{ end }}