@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$active-theme: $default;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-neutral-400;
$color-background-default: $color-brand-primary-100;
$color-text-interactive-default: $color-brand-primary-400;
$color-text-interactive-active: $color-brand-accent-700;

$icon-default-size: 4rem;

// set to 0 to disable
$letter-spacing-loose: 0;

$border-radius-1: $size-2;
$border-radius-2: $size-4;
$border-radius-pill: 700vh;

$box-shadow-1: 0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018), 0px 100px 80px rgb(0, 0, 0, 0.03);

$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);

$box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);

$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);

$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);

// body
$body-font-family: $font-family-base;
$body-font-weight: $font-weight-default;
$body-font-size: $font-size-500;
$body-line-height: 1.5;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-active: $color-text-interactive-active;

$heading-font-family: $font-family-accent;
$heading-color-default: $body-text-color;
$heading-font-weight: $font-weight-bold;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 1.1;
$heading-text-transform: none;

$heading-1-font-size: $font-size-900;
$heading-1-color: $color-brand-primary-700;

$heading-2-font-size: $font-size-800;
$heading-2-color: $color-brand-primary-700;

$heading-3-font-size: $font-size-700;
$heading-3-color: $color-neutral-100;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$hero-padding-block: clamp(5rem, 10vh, 6rem);
$section-padding-block: clamp(#{$size-10}, 4vw + 1rem, #{$size-12});

$container-min-margin-inline: $size-5;
$container-max-inline-size: 68.75rem;
$container-max-inline-size-narrow: 61.25rem;
$container-max-inline-size-wide: 75rem;

// header
$header-background-color: $color-brand-primary-100;
$header-color: $color-neutral-700;
$header-padding-block: $size-6;
$header-padding-inline: 0;
$header-margin: 0;
$header-jusitifcation-small-screens: space-between;
$header-jusitifcation-large-screens: space-between;
$header-alignment: center;
$header-block-size: 112px;
$header-logo-size: 60px;

//navigation
$navigation-color: $header-color;
$navigation-color-active: $header-color;
$navigation-font-size: $font-size-500;
$navigation-gap-small-screen: $size-8;
$navigation-gap-medium-screen: $size-9;

$navigation-link-text-decoration: none;
$navigation-font-family: $body-font-family;
$navigation-font-weight: $body-font-weight;


// footer
$footer-font-size: $font-size-500;
$footer-background-color:  $color-neutral-100;
$footer-text-color: $color-neutral-700;
$footer-link-color: $footer-text-color;
$footer-link-color-active:  $footer-text-color;
$footer-link-font-family: $body-font-family;
$footer-link-text-decoration: none;
$footer-link-font-size: 1rem;
$footer-links-gap: $size-6;
$footer-copyright-gap: $size-6;
$footer-separating-border-color: $color-neutral-200;
$footer-separating-border-width: 2px;


// buttons
$button-font-family: $body-font-family;
$button-font-size: $body-font-size;
$button-text-transform: none;
$button-font-weight: $body-font-weight;
$button-padding-inline: 2em;
$button-padding-block: 0.75em;
$button-border: 0;
$button-border-radius: $border-radius-1;

$button-primary-background: $color-brand-primary-400;
$button-primary-color: $color-neutral-100;
$button-primary-background-active: $color-brand-primary-200;
$button-primary-color-active: $color-brand-primary-700;

$button-accent-background: $color-brand-accent-400;
$button-accent-color: $color-brand-primary-700;
$button-accent-background-active: $color-brand-accent-200;
$button-accent-color-active: $color-brand-primary-700;

$button-link-background: $color-neutral-100;
$button-link-color: $color-brand-primary-400;
$button-link-background-active:  $color-neutral-200;
$button-link-color-active:   $color-brand-primary-400;


// cards
$card-flow-spacing: $size-2;
$card-padding: $size-6;
$card-shadow: $box-shadow-1;
$card-border-radius: $border-radius-2;
$card-background-default: $color-brand-primary-100;
$card-font-family: $body-font-family;
$card-heading-font-size: $font-size-600;

$card-line-height: 1.25;
$card-color-default: $color-neutral-700;
$card-heading-color-default: $card-color-default;



// hero
$hero-splitting-gap-small-screen: $size-9;
$hero-splitting-gap-medium-screen: $size-10;
$hero-buttons-group-gap: $size-4;
$hero-flow-space: $size-6;
$hero-heading-emphasized-text-color: $color-brand-accent-400;;
$hero-alignement: left;
$hero-buttons-alignement: ("left": start, "center": center, "right": end);

// about
$about-text-color: $color-neutral-100;
$about-background-color: $color-brand-primary-700;
$about-emphasized-text-color: $about-text-color;
$about-flow-space-small-screen: $size-4;
$about-flow-space-large-screen: $size-7;
$about-split-gap-small-screen: $size-11;
$about-split-gap-large-screen: $size-12;
$about-image-background-color:  $color-brand-primary-200;


// features
$features-flow-space: $size-8;
$features-cards-gap: $size-4;
$features-background-color: $body-background-color;
$featues-font-size: $body-font-size;


$features-card-font-size: $font-size-500;
$features-card-text-color: $color-neutral-400;
$features-card-line-height: $body-line-height;
$features-card-heading-font-size: $font-size-400;


$features-card-creation-background-color: $color-brand-accent-100;
$features-card-creation-image-color: $color-brand-accent-400;
$features-card-creation-link-color: $color-brand-accent-700;
$features-card-creation-link-active-color: $color-brand-accent-700;

$features-card-target-background-color: $color-yellow-300;
$features-card-target-image-color: $color-yellow-400;
$features-card-target-link-color: $color-yellow-500;
$features-card-target-link-active-color: $color-yellow-500;

$features-card-social-background-color: $color-pink-300;
$features-card-social-image-color: $color-pink-400;
$features-card-social-link-color: $color-pink-500;
$features-card-social-link-active-color: $color-pink-500;

$features-card-analytics-background-color: $color-cyan-300;
$features-card-analytics-image-color: $color-cyan-400;
$features-card-analytics-link-color: $color-cyan-500;
$features-card-analytics-link-active-color: $color-cyan-500;

// about-hero
$about-hero-flow-space: $size-10;
$about-hero-background-color: $color-neutral-100;
$about-hero-image-overlay-intensity: 0.15;
$about-hero-text-alignement: center;
$about-hero-image-border-radius: $border-radius-2;
$about-hero-padding-block-small-screen: $size-13;
$about-hero-padding-block-large-screen: $size-16;


// about-benefits
$about-benefits-gap: $size-10;
$about-benefits-font-size: $body-font-size;
$about-benefits-text-alignement: left;
$about-benefits-image-background-color: $color-brand-primary-200;
$about-benefits-background-color: $color-brand-primary-100;
$about-benefits-text-color: $body-text-color;


// about feature-benefits
$about-feature-benefits-column-gap: $size-12;
$about-feature-benefits-row-gap: $size-9;
$about-feature-benefits-flow-space: $size-11;

$about-feature-benefits-descriptions-flow-space: $size-4;

$about-feature-benefits-background-color: $color-brand-primary-700;
$about-feature-benefits-color: $color-neutral-100;
$about-feature-benefits-text-alignement: left;

$about-feature-benefits-list-font-size: $font-size-700;
$about-feature-benefits-list-font-weight: $body-font-weight;
$about-feature-benefits-list-font-family: $body-font-family;
$about-feature-benefits-list-elements-separating-line: 1px solid $color-brand-primary-100;
$about-feature-benefits-list-elements-padding-block: $size-6;

$about-feature-benefits-icon-size: $size-9;

$about-feature-benefits-icon-background-color: transparent;
$about-feature-benefits-icon-outline-color: $color-neutral-100;

$about-feature-benefits-icon-background-color-accent: $color-brand-accent-400;
$about-feature-benefits-icon-outline-color-accent: $color-brand-accent-400;


// about offer
$about-offer-flow-space: $size-10;
$about-offer-grid-auto-fit-min-width: 320px;
$about-offer-grid-auto-fit-gap: $size-8;

$about-offer-background-color: $color-neutral-100;
$about-offer-text-color: $body-text-color;
$about-offer-text-alignement: left;

$about-offer-card-heading-font-size: $font-size-700;
$about-offer-card-heading-font-weight: $font-weight-bold;
$about-offer-card-heading-color: $about-offer-text-color;
$about-offer-card-flow-space: $size-2;

$about-offer-text-icon-color: $color-brand-accent-400;
$about-offer-speech-icon-color: $color-pink-400;
$about-offer-graph-icon-color: $color-cyan-400;
$about-offer-arrow-icon-color: $color-yellow-400;



// about testimonial
$about-testimonial-flow-space: $size-8;
$about-testimonial-blockquote-flow-space: $size-4;
$about-testimonial-author-wrapper-flow-space: $size-6;

$about-testimonial-sidebar-column-gap: $size-10;
$about-testimonial-sidebar-row-gap: $size-8;
$about-testimonial-sidebar-justification: left;
$about-testimonial-sidebar-width: 16rem;
$about-testimonial-sidebar-not-min-inline-size: 55%;



// $size-11;
$about-testimonial-background-color: $color-brand-primary-100;
$about-testimonial-text-color: $color-neutral-700;

$about-testimonial-star-icon-color: $color-yellow-400;
$about-testimonial-star-icon-size: 26px;
$about-testimonial-stars-justification: left;

$about-testimonial-blockquote-font-size: $font-size-700;
$about-testimonial-color: $color-neutral-400;

$about-testimonial-author-name-font-weight: $font-weight-bold;
$about-testimonial-author-position-font-weight: $font-weight-bold;



// pricing
$pricing-plans-text-alignement: center;
$pricing-plans-text-color: $color-brand-primary-700;
$pricing-plans-background-color: $color-neutral-100;


$pricing-plans-plan-background-color: $color-brand-primary-100;
$pricing-plans-plan-border-radius: $border-radius-1;

$pricing-plans-plan-flow-space-1: $size-2;
$pricing-plans-plan-flow-space-2: $size-9;
$pricing-plans-plan-padding: $size-6;

$pricing-plans-plan-price-font-weight: $font-weight-bold; 
$pricing-plans-plan-font-family: $font-family-accent;
$pricing-plans-plan-price-font-size: $font-size-800;

$pricing-plans-checkmark-icon-size: $size-6;
$pricing-plans-checkmark-icon-color: $color-brand-accent-400;



