@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$active-theme: $default;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-neutral-400;
$color-background-default: $color-brand-primary-100;
$color-text-interactive-default: $color-brand-primary-400;
$color-text-interactive-active: $color-brand-accent-700;

$icon-default-size: 4rem;

// set to 0 to disable
$letter-spacing-loose: 0;

$border-radius-1: $size-2;
$border-radius-2: $size-4;

$box-shadow-1: 0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018), 0px 100px 80px rgb(0, 0, 0, 0.03);

$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);

$box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);

$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);

$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);

// body
$body-font-family: $font-family-base;
$body-font-weight: $font-weight-default;
$body-font-size: $font-size-500;
$body-line-height: 1.5;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-active: $color-text-interactive-active;

$heading-font-family: $font-family-accent;
$heading-color-default: $body-text-color;
$heading-font-weight: $font-weight-bold;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 1.1;
$heading-text-transform: none;

$heading-1-font-size: $font-size-900;
$heading-1-color: $color-brand-primary-700;

$heading-2-font-size: $font-size-800;
$heading-2-color: $heading-color-default;

$heading-3-font-size: $font-size-700;
$heading-3-color: $color-neutral-100;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;


$hero-padding-block: clamp(5rem, 10vh, 6rem);
$section-padding-block: clamp(#{$size-10}, 15vh, #{$size-12});

$container-min-margin-inline: $size-5;
$container-max-inline-size: 68.75rem;
$container-max-inline-size-narrow: 61.25rem;
$container-max-inline-size-wide: 75rem;

// header
$header-background-color: $color-brand-primary-100;
$header-color: $color-neutral-700;
$header-padding-block: $size-6;
$header-padding-inline: 0;
$header-margin: 0;
$header-jusitifcation-small-screens: space-between;
$header-jusitifcation-large-screens: space-between;
$header-alignment: center;


//navigation
$navigation-color: $header-color;
$navigation-color-active: $header-color;
$navigation-font-size: $font-size-500;
$navigation-gap: $size-9;
$navigation-link-text-decoration: none;
$navigation-font-family: $body-font-family;
$navigation-font-weight: $body-font-weight;


// footer
$footer-background-color:  $color-neutral-100;
$footer-text-color: $color-neutral-700;
$footer-link-color: $footer-text-color;
$footer-link-color-active:  $footer-text-color;
$footer-link-font-family: $body-font-family;
$footer-link-text-decoration: none;

// buttons
$button-font-family: $body-font-family;
$button-font-size: $body-font-size;
$button-text-transform: none;
$button-font-weight: $body-font-weight;
$button-padding-inline: 2em;
$button-padding-block: 0.75em;
$button-border: 0;
$button-border-radius: $border-radius-1;

$button-primary-background: $color-brand-primary-400;
$button-primary-color: $color-neutral-100;
$button-primary-background-active: $color-brand-primary-200;
$button-primary-color-active: $color-brand-primary-700;

$button-accent-background: $color-brand-accent-400;
$button-accent-color: $color-brand-primary-700;
$button-accent-background-active: $color-brand-accent-200;
$button-accent-color-active: $color-brand-primary-700;

$button-link-background: $color-neutral-100;
$button-link-color: $color-brand-primary-400;
$button-link-background-active: $color-brand-accent-200;
$button-link-color-active:  $color-neutral-200;


// cards
$card-flow-spacing: $size-2;
$card-padding: $size-8;
$card-shadow: $box-shadow-1;
$card-border-radius: $border-radius-2;
$card-background-default: $color-brand-primary-100;
$card-color-default: $body-text-color;
$card-font-family: $body-font-family;
$card-line-height: 1.25;
$card-heading-color-default: $card-color-default;
$card-heading-font-size: $font-size-600;

// forms



