{{ with .Site.GetPage "index/hero"  }}
        <section class="hero section bg-neutral-100">            
            <div class="container">
                <div class="even-columns">
                    
                    <div class="content flow">
                        <h1 class="heading-1">{{ .Params.title | markdownify }}</h1>
                        <p>{{ .Params.description }}</p>
                        
                        <div class="buttons-group ">
                            {{ range .Params.ctaButtons  }}
                                <a href="{{ .href }}" data-type="{{ .type }}" class="button">{{ .text }}</a>
                            {{ end }}
                        </div>
                    </div>
                  
                    {{ with .Resources.Get "group-on-computer.webp" }}
                        <img
                            class="border-radius-1" 
                            src="{{ .RelPermalink }}" 
                            width="550"
                            height="440"
                            loading="lazy"
                            alt="Man pointing at monitor with pencil showing something to his two female colleagues">
                    {{ end }}
                </div>
            </div>
    </section>
{{ end }}