@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/montserrat-v29-latin-700.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/inter-v18-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/inter-v18-latin-700.woff2") format("woff2");
}

