@use "../abstracts" as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;

  &:has(#hamburger-menu:checked) {
      overflow: hidden;
  }
}

a {
  color: $link-color;
}

a:is(:hover, :focus) {
  color: $link-color-active;
}

svg {
  inline-size: $icon-default-size;
  block-size: $icon-default-size;
}

strong {
  font-weight: $font-weight-bold;
}

main {
  isolation: isolate;
}
