@use "../abstracts" as *;

.container {
  --padding: #{$container-min-margin-inline * 2};
  --max-inline-size: #{$container-max-inline-size};

  max-inline-size: min(100% - var(--padding), var(--max-inline-size));
  margin-inline: auto;
}

.container[data-type="narrow"] {
  --max-inline-size: #{$container-max-inline-size-narrow};
}
.container[data-type="wide"] {
  --max-inline-size: #{$container-max-inline-size-wide};
}
.container[data-type="full-bleed"] {
  --max-inline-size: 100%;
}
